body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
}

h3 {
  font-size: 100px;
  color: #363e3b;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-top: 20px;
}
