body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 100px;
  color: #363e3b;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-top: 20px;
}
